<!DOCTYPE html>
<html layout:decorate="~{fragments/main_layout}">
<head>
<meta charset="UTF-8">
<title>Nový sklad</title>
</head>
<body>
<div layout:fragment="content" class="container">
	<form th:action="@{/stock/create}" th:object="${stock}" method="post">
		Název: <input type="text" th:field="*{name}"/>
		<ul>
		  <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
		</ul>
		Lokace: <input type="text" th:field="*{location}"/>
		<ul>
		  <li th:each="err : ${#fields.errors('location')}" th:text="${err}" />
		</ul>
		Velikost: <input type="text" th:field="*{area}"/>
		<ul>
		  <li th:each="err : ${#fields.errors('area')}" th:text="${err}" />
		</ul>
		
		<input type="submit" value="Uložit"/>
	</form>
</div>
</body>
</html>