<!DOCTYPE html>
<html layout:decorate="~{fragments/main_layout}">
<head>
<meta charset="UTF-8">
<title>Nové auto</title>
</head>
<body>
<div layout:fragment="content" class="container">
	<form th:action="@{/car/create}" th:object="${car}" method="post">
		Výrobce: <input type="text" th:field="*{manufacturer}"/>
		<ul>
		  <li th:each="err : ${#fields.errors('manufacturer')}" th:text="${err}" />
		</ul>
		
		Model: <input type="text" th:field="*{model}"/>
		<ul>
		  <li th:each="err : ${#fields.errors('model')}" th:text="${err}" />
		</ul>
		
		Rok: <input type="number" step="1" th:field="*{year}"/>
		<ul>
		  <li th:each="err : ${#fields.errors('year')}" th:text="${err}" />
		</ul>
		
		SPZ: <input type="text" step="1" th:field="*{registrationPlate}"/>
		<ul>
		  <li th:each="err : ${#fields.errors('registrationPlate')}" th:text="${err}" />
		</ul>
		
		Počet pasažérů: <input type="number" step="1" th:field="*{numberOfPassengers}"/>
		<ul>
		  <li th:each="err : ${#fields.errors('numberOfPassengers')}" th:text="${err}" />
		</ul>
		
		Velikost kufru: <input type="number" step="1" th:field="*{trunkSize}"/>
		<ul>
		  <li th:each="err : ${#fields.errors('trunkSize')}" th:text="${err}" />
		</ul>
		
		Majitel:
		<ul>
		  <li th:each="err : ${#fields.errors('owner')}" th:text="${err}" />
		</ul>
		<select name="owner">
			<option th:each="e : ${employees}" th:value="${e.id}" th:text="${e.name + ' ' + e.surname}"></option>
		</select>
		
	
		Garáž:
		<ul>
		  <li th:each="err : ${#fields.errors('garage')}" th:text="${err}" />
		</ul>
		<select name="garage">
			<option th:each="g : ${garages}" th:value="${g.id}" th:text="${g.name + ' - ' + g.city}"></option>
		</select>
		
		<input type="submit" value="Uložit"/>
	</form>
	</div>
</body>
</html>